{% extends "_base.html" %}
{% block title %}Try it yourself{% endblock %}
{% from "_formshelper.html" import render_field %}
{% block content %}

    <!-- flash messages -->
  
    <div class="container">
      <div class="alert alert-success alert-dismissible hidden" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success.</strong> Your new app is ready. Visit it here: <a href="http://my-tiny-heroku-app.heroku.com" target="_blank">http://my-tiny-heroku-app.heroku.com</a>
      </div>
    </div>

    <div class="container">
      <div class="alert alert-danger alert-dismissible hidden" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> Something went wrong with the build. Check the logs below.
      </div>
    </div>

<div class="row">
  <div class="col-md-6">
    
    <form action="{{ url_for('publish_code') }}" method="post" name="codeform">
        {{ form.csrf_token }}
        {% for fieldname, value in form.data.items() %}
        {% if fieldname != 'csrf_token' %}
        <div class="form-group">
          {{ form[fieldname].label }}
          {{ render_field(form[fieldname], class="form-control disable-on-submit", rows=size[fieldname]) }}
        </div>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Publish" class="btn btn-lg btn-success disable-on-submit">
    </form>
  </div>
  <div class="col-md-6">
    <h4>Create a working app in Heroku.</h4>
    <p>After clicking "Publish", you can see the progress of the build below.</p>
    <div class="push-log" style="white-space: pre-wrap; font-family:monospace;">
    </div>
  </div>
</div>

{% if run %}

<script>
$(function(){
  url = 'https://api.heroku.com/apps/{{ push_data['app_name'] }}/builds/{{ push_data['push_id'] }}/result'
  headers = {'content-type': 'application/json',
      'Accept': 'application/vnd.heroku+json; version=3',
      'Authorization': 'Bearer 66a341e4-da03-4d63-97ff-add7f4949806'}
  function getBuildLog(url) {
      $.ajax({
          url: url,
          success: function(result) {
              console.log(result);
              if (result.indexOf('Released v') > -1) {
                  $(".alert-success").removeClass("hidden");
              } else {
                  $(".alert-danger").removeClass("hidden");
              }
              $(".push-log").html(result)
              $(".disable-on-submit").attr("disabled", false)
              $(".spinner").remove()
          }
      })      
  };
  $(".disable-on-submit").attr("disabled", true)
  $(".form-group").prepend('<img class="spinner" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); pointer-events: none;" src={{ url_for('static', filename='loadingspinner.gif') }} />');
  $.ajax({
      url: url,
      headers: headers,
      success: function(result) { getBuildLog(result['build']['output_stream_url']); }
  })
});
</script>

{% endif %}

{% endblock %}
